DISCORD_TOKEN=
CLIENT_ID=
MONGODB_URI=
GUILD_ID=
LOG_LEVEL=info
NODE_ENV=development
DEBUG_COMMANDS=false
PREFIX_ENABLED=false
PREFIX=!
# If PREFIX_ENABLED=true, you MUST enable "Message Content Intent" in the Discord Developer Portal.
